<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>107291464167-5vg9p9n8cpp09mi7st6lghs5itpcukn8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.107291464167-5vg9p9n8cpp09mi7st6lghs5itpcukn8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>107291464167-pfu74dj3uc7gb711910hgnq3m9c2r1p0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBud6ntpe0Gn8wzdUYfhZa8NP8hadTdhIY</string>
	<key>GCM_SENDER_ID</key>
	<string>107291464167</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.talexani.xconnect</string>
	<key>PROJECT_ID</key>
	<string>tedx-app-290015</string>
	<key>STORAGE_BUCKET</key>
	<string>tedx-app-290015.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:107291464167:ios:3db1553ac19fb486762d42</string>
	<key>DATABASE_URL</key>
	<string>https://tedx-app-290015.firebaseio.com</string>
</dict>
</plist>